
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel użytkownika</title>
    <link type="text/css" rel="stylesheet" href="~/Content/style/mainStyle.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/organizerMainPage.min.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    @Html.Partial("~/Views/Partial/_TopMenu.cshtml")
    @Html.Partial("~/Views/Partial/_LeftMenuFull.cshtml")
    <main>
        <section class="panel_title">
            <div>panel organizatora</div>
        </section>
        <section class="panel_guest_number">
            <div class="guests_count_panel">
                <span class="number" id="guestsList">200 </span> osób <br /> na liście gości
            </div>
            <div class="guests_count_panel">
                <span class="number" id="guestsInvited">100 </span>osób<br /> zaproszonych
            </div>
            <div class="guests_count_panel">
                <span class="number" id="guestsConfirmedBy">50 </span>osób <br /> potwierdzających obecność
            </div>
            <div style="clear: both;"></div>
        </section>
        <section class="panel_block">
            <div class="panel" onclick="location.href='@Url.Action("EventList", "Event")'">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                <p>Wydarzenia</p>
            </div>
            <div class="panel" onclick="location.href='@Url.Action("EventList", "Event")'">
                <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                <p>Moja uroczystość</p>
            </div>
            <div class="panel" onclick="location.href='@Url.Action("GuestsList", "Guest")'">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <p>Lista gości</p>
            </div>
            <div class="panel" onclick="location.href='@Url.Action("InvitationsList", "Invitation")'">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                <p>Zaproszenia</p>
            </div>
            <div class="panel" onclick="location.href='@Url.Action("EventList", "Event")'">
                <i class="fa fa-sticky-note fa-2x" aria-hidden="true"></i>
                <p>Notatki</p>
            </div>
            <div class="panel" onclick="location.href='@Url.Action("EventList", "Event")'">
                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                <p>Moje dane</p>
            </div>
        </section>
    </main>
    <script>
        var iconNr = "@ViewBag.IconNumber";
    </script>
    <script src="/Scripts/external/jquery.min.js"></script>
    <script src="/Scripts/custom/customMain.js"></script>
</body>
</html>





