@model EventApplication.Models.ViewModels.UserNewPasswordViewModel
@{
    ViewBag.Title = "Moje dane";
    Layout = "~/Views/Shared/_GuestPageLayout.cshtml";
}

<section class="panel_title">
    <div>Moje dane</div>
</section>
<section class="padding_section display_inline">
    <div class="action_buttons" id="eventButton">
        <div id="editUserButton" class="button" >Edytuj dane</div>
        <div id="saveUserDetails" class="button">Zapisz zmiany</div>
        <div id="cancelEdit" class="button">Anuluj </div>
    </div>
</section>
<section class="user_details">
@using (Html.BeginForm("UserDetails", "Account", FormMethod.Post, new { @id = "editUserDetails", @name = "editUserDetails" }))
{
    @Html.AntiForgeryToken()
    <div class="user_details_form">
        <div>
            <p class="field_readonly">Imię: <span>@Model.FirstName</span></p>
            <p class="field_readonly">Nazwisko: <span>@Model.LastName</span></p>
            <p class="field_readonly">Email: <span>@Model.Email</span></p>

            <div class="form-group field_edit">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "field form-control", @id = "userName" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @id = "userName_e" })</div>
            </div>
            <div class="form-group field_edit">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "field form-control", @id = "userLastName" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @id = "userLastName_e" })</div>
            </div>
            <div class="form-group" style="visibility: hidden">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field form-control", @id = "userEmail" } })
            </div>
            <div class="form-group field_edit" style="padding-top:10px; margin-top: -50px;">
                <div class="col-md-3">
                    @Html.Label("Zmiana hasła", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.CheckBox("ifPassToChange", false, htmlAttributes: new { id = "passCheckBox" })
                </div>
            </div>
        </div>
        <div class="edit_password_form">
            <div class="form-group pass_edit">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "field form-control", @id = "password" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "password_e" })</div>
            </div>
            <div class="form-group pass_edit">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "field form-control", @id = "newPassword" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger", @id = "newPassword_e" })</div>
            </div>
            <div class="form-group pass_edit">
                @Html.LabelFor(model => model.ComfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ComfirmPassword, new { htmlAttributes = new { @class = "field form-control", @id = "confirmPassword" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.ComfirmPassword, "", new { @class = "text-danger", @id = "confirmPassword_e" })</div>
            </div>
        </div>
        <div class="clear: both"></div>
    </div>
}
</section>
