<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/guestPageStyle.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/mainStyle.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("~/Views/Partial/_TopMenu.cshtml")
    @Html.Partial("~/Views/Partial/_LeftMenu.cshtml")
    <main>
        @RenderBody()
    </main>
    <script>
        var iconNr = "@ViewBag.IconNr";
    </script>
    <script src="/Scripts/external/jquery.min.js"></script>
    <script src="~/Scripts/custom/customMain.js"></script>
    <script src="~/Scripts/custom/customForms.js"></script>
</body>
</html>
