<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/mainStyle.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("~/Views/Partial/_TopMenu.cshtml")
    @Html.Partial("~/Views/Partial/_LeftMenuFull.cshtml")
    <main>
        @RenderBody()
    </main>
    <script>
        var iconNr = "@ViewBag.IconNr";
    </script>
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/forms_js")
</body>
</html>
