<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/mainStyle.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/style/tableDataStyle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("~/Views/Partial/_TopMenu.cshtml")
    @Html.Partial("~/Views/Partial/_LeftMenuFull.cshtml")
    <main>
        @RenderBody()
    </main>
    <script>
        var iconNr = "@ViewBag.IconNr";
    </script>
    @Scripts.Render("~/bundles/main")
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>
