<style>
    aside {
        width: 8%;
        max-width: 100px;
    }
    .disabledItem {
        pointer-events: none;
    }
</style>
<aside>
    <div class="left_panel">
        <div id="menu1" class="menu_item" onclick="location.href='@Url.Action("EventList", "Event")'">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        @if (@ViewBag.Role == 5)
        {
            <div id="menu2" class="menu_item" onclick="location.href='@Url.Action("EventInformation", "Event")'">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        }
        @if (@ViewBag.Role != 5)
        {
            <div id="menu2" class="menu_item disabledItem" onclick="location.href='@Url.Action("EventInformation", "Event")'">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        }
        @if (@ViewBag.Role == 5)
        {
            <div id="menu3" class="menu_item" onclick="location.href='@Url.Action("GuestsList", "Guest")'">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>

        }
        @if (@ViewBag.Role != 5)
        {
            <div id="menu3" class="menu_item disabledItem" onclick="location.href='@Url.Action("GuestsList", "Guest")'">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
        }
        
        @if (@ViewBag.Role == 5)
        {
            <div id="menu4" class="menu_item" onclick="location.href='@Url.Action("InvitationsList", "Invitation")'">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
        }
        @if (@ViewBag.Role != 5)
        {
            <div id="menu4" class="menu_item disabledItem" onclick="location.href='@Url.Action("InvitationsList", "Invitation")'">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
        }
        <div id="menu5" class="menu_item" onclick="location.href='@Url.Action("EventList", "Event")'">
            <i class="fa fa-sticky-note" aria-hidden="true"></i>
        </div>
        <div id="menu6" class="menu_item" onclick="location.href='@Url.Action("EventList", "Event")'">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
    </div>

</aside>
