@model EventApplication.Models.ViewModels.GuestViewModel
@{
    ViewBag.Title = "Edycja gościa";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listAge = (List<SelectListItem>)ViewBag.AgeList;
}

<section class="panel_title">
    <div>Edycja gościa</div>
</section>
<section>
    @using (Html.BeginForm("EditGuest", "Guest", FormMethod.Post, new { @id = "editGuestForm", @name = "editGuestForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="display: none;">@Html.EditorFor(model => model.GuestID)</div>
        <div class="guest_form">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "field form-control", @id = "guestFirstName" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @id = "guestFirstName_e" })</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "field form-control", @id = "guestLastName" } })
                </div>
                <div>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @id = "guestLastName_e" })</div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <select class="field" id="age" name="age">
                        @foreach (var item in listAge)
                        {
                            <option value="@item.Value" @(Model.Age == item.Text ? "selected" : "")> @item.Text</option>
                        }
                    </select>
                </div>
                <div> @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })</div>
            </div>

            <div class="form_buttons">
                <div class="button" onclick="location.href='@Url.Action("GuestsList", "Guest")'">Anuluj</div>
                <div class="button" id="saveEditGuest">zapisz zmiany</div>
            </div>
        </div>
    }
</section>
