@using EventApplication.Models.ViewModels
@model EventListViewModel
@{
    ViewBag.Title = "Lista wydarzeń";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="panel_title">
    <div>wydarzenia</div>
</section>
<section class="userEvent padding_section">
    <div id="addEvent" class="button action_button" onclick="location.href='@Url.Action("AddEvent", "Event")'">dodaj uroczystość</div>
    <div class="action_buttons" id="eventButton">
        <div id="deleteEvent" class="button" onclick="location.href='@Url.Action("DeleteEvent", "Event")'">Usuń</div>
        <div id="editEvent" class="button" onclick="location.href='@Url.Action("EditEvent", "Event")'">Edytuj</div>
    </div>
    <div id="eventInfo">
        <div class="event_description">
            <div class="event_info">
                @foreach (EventViewModel item in Model.EventList)
                {
                    <p id="eventName">@item.EventName</p>
                    <span id="organizerName1">@item.OrganizerName1 i</span> <span id="organizerName2">@item.OrganizerName2</span>
                    <p id="eventDate">Data: @item.EventDate</p>
                    <p id="eventTime">Godzina: @item.EventTime</p>
                    <p>Miejsce ślubu: @item.ChurchAddress</p>
                    <p>Miejsce wesela: @item.WeddingAddress</p>
                }

            </div>
            <div class="event_options">
                <p>Wybrane opcje:</p>
                @foreach (OptionViewModel optionItem in Model.OptionsList)
                {
                    <p><i class="fa fa-circle" aria-hidden="true"></i>@optionItem.OptionName</p>
                }
            </div>

        </div>
        <img class="flowerTop" src="~/Content/images/flower1.png" />
        <img class="flowerBottom" src="~/Content/images/flower2.png" />
    </div>
</section>
<script>
     var haveEvent = "@ViewBag.HaveEvent";
</script>