@model EventApplication.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Uroczystość";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="userEvent padding_section" >
    <div class="event_description" id="readOnlyEvent">
        <div class="event_info">
            <p>@Html.DisplayFor(model => model.EventName)</p>
            <p style="margin:20px 0"><span>@Html.DisplayFor(model => model.OrganizerName1) i</span> <span>@Html.DisplayFor(model => model.OrganizerName2)</span></p>
            <p>Data: @Html.DisplayFor(model => model.EventDate)</p>
            <p>Godzina: @Html.DisplayFor(model => model.EventTime)</p>
            <p>Miejsce ślubu: @Html.DisplayFor(model => model.ChurchAddress)</p>
            <p>Miejsce wesela: @Html.DisplayFor(model => model.WeddingAddress)</p>
        </div>
    </div>
    <img class="flowerTop" src="/Content/images/flower1.png" />
    <img class="flowerBottom" src="/Content/images/flower2.png" />
</section>


