@model EventApplication.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Uroczystość";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="userEvent padding_section" >
    <div class="event_description" id="readOnlyEvent">
        <div class="event_info">
            <p>@Model.EventName</p>
            <p style="margin:20px 0"><span>@Model.OrganizerName1 i</span> <span>@Model.OrganizerName2</span></p>
            <p>Data: @Model.EventDate</p>
            <p>Godzina: @Model.EventTime</p>
            <p>Miejsce ślubu: @Model.ChurchAddress</p>
            <p>Miejsce wesela: @Model.WeddingAddress</p>
        </div>
    </div>
    <img class="flowerTop" src="/Content/images/flower1.png" />
    <img class="flowerBottom" src="/Content/images/flower2.png" />
</section>


