@model IEnumerable<EventApplication.Models.ViewModels.InvitationViewModel>

@{
    ViewBag.Title = "Zaproszenia";
    Layout = "~/Views/Shared/_ListDataLayout.cshtml";
}

<section class="panel_title">
    <div>List zaproszeń</div>
</section>
<section class="padding_section display_inline">
    <div id="addInvitation" class="button action_button" onclick="location.href='@Url.Action("AddGuest", "Guest")'">nowe zaproszenie</div>
</section>
<section class="table padding_section">
    <table id="invitationsTable" class="find-duplicates table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <th><span class="columnName"><input type="checkbox" id="checkAllRows" value="all" data-size="sm"></span></th>
                <th><span class="columnName">@Html.DisplayNameFor(model => model.InvitationName)</span></th>
                <th><span class="columnName">@Html.DisplayNameFor(model => model.Email)</span></th>
                <th><span class="columnName">@Html.DisplayNameFor(model => model.IsEmailSent)</span></th>
                <th><span class="columnName">@Html.DisplayNameFor(model => model.IsAccountActivated)</span></th>
                <th><span class="columnName"></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @foreach(var item in Model)
           {
               <tr>
                   <td><span></span></td>
                   <td><span>@Html.DisplayFor(modelItem => item.InvitationName)</span></td>
                   <td><span>@Html.DisplayFor(modelItem => item.Email)</span></td>
                   <td><span>@Html.DisplayFor(modelItem => item.IsEmailSent)</span></td>
                   <td><span>@Html.DisplayFor(modelItem => item.IsAccountActivated)</span></td>
                   <td><span></span></td>
               </tr>
           }

        </tbody>
    </table>
</section>
@Scripts.Render("~/bundles/main")
<script>
    $(document).ready(function () {
        $('#invitationsTable').DataTable();
    });
</script>
