@model IEnumerable<EventApplication.Models.ViewModels.InvitationViewModel>

@{
    ViewBag.Title = "Zaproszenia";
    Layout = "~/Views/Shared/_ListDataLayout.cshtml";
}
<style>
    table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting{
        padding:0;
    }
</style>

<section class="panel_title">
    <div>Lista zaproszeń</div>
</section>
<section class="padding_section display_inline">
    <div id="addInvitation" class="button action_button" onclick="location.href='@Url.Action("NewInvitation", "Invitation")'">nowe zaproszenie</div>
</section>

@if (ViewBag.HaveInvitations == "no")
{
    <section id="noInvitations">
        <p>Jak na razie nie dodałeś żadnego zaproszenia <br/>do swojej uroczystości</p>
        <div style="width: 80%">
            <img class="balon_img" style="transform: rotate(20deg);" src="~/Content/images/balon_pink.png"/>
        </div>
        <div>
            <img class="balon_img" src="~/Content/images/balon_white.png"/>
        </div>
    </section>
    
}

@if (ViewBag.HaveInvitations == "yes")
{
    <section class="table padding_section">
        <table id="invitationsTable" class="find-duplicates table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th><span class="columnName"><input type="checkbox" id="checkAllRows" value="all" data-size="sm"></span></th>
                    <th><span class="columnName">@Html.DisplayNameFor(model => model.InvitationName)</span></th>
                    <th><span class="columnName">@Html.DisplayNameFor(model => model.Email)</span></th>
                    <th><span class="columnName">@Html.DisplayNameFor(model => model.GuestCount)</span></th>
                    <th><span class="columnName">@Html.DisplayNameFor(model => model.IsEmailSent)</span></th>
                    <th><span class="columnName">@Html.DisplayNameFor(model => model.IsAccountActivated)</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><span class="columnValue"><input type="checkbox" value="@(item.InvitationID)" name="rowId" id="rowId"></span></td>
                        <td><span class="columnValue">@Html.DisplayFor(modelItem => item.InvitationName)</span></td>
                        <td><span class="columnValue">@Html.DisplayFor(modelItem => item.Email)</span></td>
                        <td><span class="columnValue">@Html.DisplayFor(modelItem => item.GuestCount)</span></td>
                        <td><span class="columnValue">@(item.IsEmailSent == false ? "Nie" : "Tak")</span></td>
                        <td><span class="columnValue">@(item.IsAccountActivated == false ? "Nie" : "Tak")</span></td>
                        <td class="text_right"><span class="columnValue">
                                <a href="@Url.Action("InvitationDetails", "Invitation" , new {@item.InvitationID})">Szczegóły</a>
                                <i class="fa fa-pencil-square-o" aria-hidden="true" onclick="location.href='@Url.Action("EditInvitation", "Invitation", new { id = item.InvitationID })'"></i>
                                <i class="fa fa-trash-o" aria-hidden="true" onclick="location.href='@Url.Action("DeleteInvitation", "Invitation", new { id = item.InvitationID })'"></i>
                        </span></td>
                    </tr>
                }

            </tbody>
        </table>
    </section>
}

<script>
        var iconNr = "@ViewBag.IconNr";
</script>
@Scripts.Render("~/bundles/main")
<script>
    $(document).ready(function () {
        $('#invitationsTable').DataTable({
            "oLanguage": {
                "sEmptyTable": "Brak danych, przepraszamy",
                "sSearch": "<span>Wyszukaj:</span> _INPUT_",
                "sInfo": "Strona _PAGE_ z _PAGES_",
                "sLengthMenu": "<span>ilość na stronie:</span> _MENU_", 
                "oPaginate": { "sFirst": "First", "sLast": "Last", "sNext": ">", "sPrevious": "<" }
            }
        });
    });
</script>

